/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&display=swap");
/**
 * Basic typography style for copy text
 */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Outfit", sans-serif;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

footer.container {
  background-color: #151515;
  padding: 60px 30px 40px 30px;
}
footer.container img {
  margin-bottom: 10px;
}
footer.container p {
  color: white;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 50px;
}
footer.container .socialMedia ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.container .socialMedia ul li a img {
  width: 24px;
}

.header {
  margin-bottom: 100px;
}
.header .looking img {
  max-width: 100%;
}
.header .container h1 {
  font-family: "Big Shoulders", sans-serif;
  color: #151515;
  font-size: 70px;
  line-height: 65px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header .container p {
  color: #444444;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 50px;
}
.header .container .location-btn-next {
  display: inline-flex;
  align-items: stretch;
  background-color: #151515;
  border: none;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}
.header .container .location-btn-next .btn-text {
  color: white;
  font-family: "Big Shoulders", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 20px 55px 20px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header .container .location-btn-next .btn-icon {
  background-color: #d5966c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

header .location {
  position: relative;
  width: 100%;
  aspect-ratio: 0.6/1;
  max-width: 100%;
  margin: 0 auto;
}
header .location-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
header .location-icon-static {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .location-btn-back {
  position: absolute;
  display: inline-flex;
  align-items: stretch;
  background-color: #151515;
  border: none;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}
header .location-btn-back .btn-icon {
  background-color: #d5966c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
header .location-btn-back .btn-text {
  color: white;
  font-family: "Big Shoulders", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 20px 55px 20px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

main.container {
  margin-bottom: 100px;
}
main.container img {
  max-width: 100%;
  margin-bottom: 20px;
}
main.container h2 {
  font-family: "Big Shoulders", sans-serif;
  color: #151515;
  font-size: 60px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}
main.container p {
  color: #444444;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 50px;
}
main.container .bg-blck {
  background-color: #151515;
  padding: 20px;
}
main.container .bg-blck h2 {
  color: white;
}
main.container .bg-blck p {
  color: white;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
