// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts" as abs;

footer.container {
  background-color: abs.$secondary-color;
  padding: 30px 35px 30px 35px;
  img {
    margin-bottom: 10px;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .socialMedia {
    ul {
      @include abs.reset-list();
      li a img {
        width: 20px;
      }
    }
  }
  @include abs.breakpoint(tablet) {
    display: flex;
    padding: 55px 35px 30px 55px;
    align-items: flex-start;
    justify-content: space-between;
    p {
      width: 40%;
      margin: 0;
    }
  }
}
