// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts" as abs;

.header {
  margin-bottom: 100px;
  @include abs.breakpoint(tablet) {
    display: flex;
  }
  .looking {
    max-width: 100%;
  }
  .img-tablet {
    display: none;
  }
  .img-mobile {
    display: block;
  }

  @include abs.breakpoint(tablet) {
    .img-tablet {
      display: block;
      width: 55%;
    }
    .img-mobile {
      display: none;
    }
  }
  .container {
    @include abs.breakpoint(tablet) {
      position: absolute;
      top: 110px;
      right: 0;
    }
    h1 {
      font-family: abs.$font-secondary;
      color: abs.$secondary-color;
      font-size: 70px;
      line-height: 65px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    p {
      color: abs.$third-color;
      font-size: 20px;
      font-weight: 200;
      line-height: 30px;
      margin-bottom: 50px;
    }
    .location-btn-next {
      @include abs.button-next;
    }
  }
}
