@use "../abstracts/" as abs;

header {
  .location {
    position: relative;
    width: 100%;
    aspect-ratio: 0.6 / 1;
    max-width: 100%;
    margin: 0 auto;

    &-map {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &-icon-static {
      position: absolute;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-btn-back {
      position: absolute;
      @include abs.button-back;
    }
  }
}
