@use "../abstracts/" as abs;

header {
  .location {
    position: relative; /* Clave: sirve de referencia para el icono */
    width: 100%; /* Se adapta al ancho disponible */
    max-width: 600px; /* Opcional: limita el ancho máximo de tu imagen */
    margin: 0 auto;
    &-map {
      width: 100%;
      height: auto; /* Mantiene la proporción original de la imagen */
      display: block;
    }

    &-icon-static {
      position: absolute; /* Clave: se posiciona respecto al contenedor padre */
      top: 20%; /* Ajusta la distancia desde la parte superior (en %) */
      left: 30%; /* Ajusta la distancia desde la izquierda (en %) */
      transform: translate(80%, 180%);
    }
    &-btn-back {
      position: absolute;
      @include abs.button-back;
    }
  }
}
