@use "../abstracts" as abs;

main.container {
  margin-bottom: 100px;

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .gallery-mobile {
    display: block;
  }
  .gallery-tablet {
    display: none;
  }
  .gallery-desktop {
    display: none;
  }
  .blackWhite-tablet {
    display: none;
  }
  .peopleLooking-tablet {
    display: none;
  }

  h2 {
    font-family: abs.$font-secondary;
    color: abs.$secondary-color;
    font-size: 60px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  p {
    color: abs.$third-color;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .bg-blck {
    background-color: abs.$secondary-color;
    padding: 20px;

    h2 {
      color: white;
    }
    p {
      color: white;
      margin-bottom: 15px;
    }
  }

  @include abs.breakpoint(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    align-items: stretch;
    img {
      margin: 0;
    }

    /* Ocultamos móvil, mostramos tablet */
    .gallery-mobile {
      display: none;
    }
    .gallery-tablet {
      display: block;

      grid-column: 3 / 7;
      grid-row: 1;
      height: 100%;
    }
    .gallery-desktop {
      display: none;
    }
    .blackWhite {
      display: none;
    }
    .blackWhite-tablet {
      display: block;
      grid-column: 1 / 5;
      grid-row: 2 / 5;
    }
    .peopleLooking {
      display: none;
    }
    .peopleLooking-tablet {
      display: block;
      grid-column: 5 / 7;
      grid-row: 2 / 3;
    }

    h2:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1;
      font-size: 60px;
      line-height: 60px;
      padding-top: 50px;
      margin: 0;
      align-self: start;
      width: 95%;
    }
    p:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      align-self: end;
      margin-bottom: 70px;
      width: 95%;
    }

    .bg-blck {
      grid-column: 5 / 7;
      grid-row: 3 / 5;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 45px;
        line-height: 45px;
        margin-top: 0;
        margin-bottom: 25px;
      }

      p {
        color: white;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
  @include abs.breakpoint(desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    align-items: stretch;

    /* Ocultamos móvil y tablet, mostramos desktop */
    .gallery-mobile {
      display: none;
    }
    .gallery-tablet {
      display: none;
    }
    .gallery-desktop {
      display: block;
      grid-column: 3 / 7;
    }

    .peopleLooking-tablet {
      display: block;
      grid-column: 5 / 7;
      grid-row: 2 / 3;
    }

    .blackWhite-tablet {
      display: none;
    }
    .blackWhite {
      display: block;
      grid-column: 1 / 5;
      grid-row: 2 / 5;
    }

    h2:nth-of-type(1) {
      grid-column: 1 / 3;
      grid-row: 1;
      font-size: 60px;
      line-height: 60px;
      padding-top: 30px;
      margin: 0;
      align-self: start;
      width: 90%;
    }
    p:nth-of-type(1) {
      grid-column: 1;
      grid-row: 1;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      align-self: end;
      margin-bottom: 70px;
      width: 100%;
    }

    .bg-blck {
      grid-column: 5 / 7;
      grid-row: 3 / 5;
      padding: 0px 0px 0px 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;

      h2 {
        font-size: 45px;
        line-height: 45px;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p {
        color: white;
        margin-bottom: 0;
        width: 90%;
      }
    }
  }
}
